<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751068077382-bvv0ucevu595o6ls5ul5g7feel7vltsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751068077382-bvv0ucevu595o6ls5ul5g7feel7vltsm</string>
	<key>API_KEY</key>
	<string>AIzaSyBQDsvSw10d1clESXcEClOnyLHlwvmloTg</string>
	<key>GCM_SENDER_ID</key>
	<string>751068077382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sayists.Scriberocks</string>
	<key>PROJECT_ID</key>
	<string>actuapedia-18ikj</string>
	<key>STORAGE_BUCKET</key>
	<string>actuapedia-18ikj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751068077382:ios:0023f387e70fa50a94d947</string>
</dict>
</plist>